<div class="container-fluid vh-100">
  <div class="row h-50">
    <div class="col-12 d-flex">
      <img src="assets/navigation/save-money-1.svg" alt="Save Money">
    </div>
  </div>
  <div class="row h-25">
    <div class="col-12 px-5 d-flex flex-column justify-content-center">
      <h1 class="fw-bold">A maior rede de ingressos do Brasil!</h1>
      <p class="fs-5">Mais de 5 mil cidades brasileiras divulgam seus eventos na nossa plataforma.</p>
    </div>
  </div>
  <div class="row h-25 align-items-center px-5">
    <div class="col-6">
      <ul class="pagination gap-2">
        <li class="page-item active" aria-current="page">
          <span class="page-link rounded-circle p-1"></span>
        </li>
        <li class="page-item"><a class="page-link rounded-circle p-1" href="#"></a></li>
        <li class="page-item"><a class="page-link rounded-circle p-1" href="#"></a></li>
      </ul>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <ul class="pagination">
        <li class="page-item">
          <a class="btn btn-link text-reset" href="#"><img src="assets/navigation/Right-arror-button.svg" alt="Seta para direita"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
