<div class="container-fluid vh-100">
  <div class="row h-50 mt-3">
    <div class="col-12 d-flex justify-content-center">
      <img src="assets/navigation/save-money-1.svg" alt="Save Money">
    </div>
  </div>
  <div class="row h-25">
    <div class="col-12 px-5 py-4 d-flex flex-column justify-content-center cinza-escuro text-lg-center">
      <h1 class="fw-bold titulo">A maior rede de ingressos do Brasil!</h1>
      <p class="paragrafo m-0">Mais de 5 mil cidades brasileiras divulgam seus eventos na nossa plataforma.</p>
    </div>
  </div>
  <div class="row h-25 align-items-center px-5 my-0">
    <div class="col-6 p-0">
      <ul class="pagination gap-2 justify-content-lg-center">
        <li class="page-item active" aria-current="page">
          <span class="page-link rounded-circle p-1"></span>
        </li>
        <li class="page-item"><a class="page-link rounded-circle p-1 btn-cinza-claro" href="#"></a></li>
      </ul>
    </div>
    <div class="col-6 d-flex justify-content-end p-0 justify-content-lg-center">
      <ul class="pagination">
        <li class="page-item">
          <a class="btn btn-link text-reset p-0" routerLink="/passo2"><img src="assets/navigation/Right-arror-button.svg" alt="Seta para direita"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
