* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

$cor-azul-escuro: #3567E9;
$cor-azul-claro: #7D95A1;
$cor-cinza-claro: #D7E3EA;
$cor-cinza-escuro: #334047;

.azul-escuro {
  color: $cor-azul-escuro;
}
.azul-claro {
  color: $cor-azul-claro;
}
.cinza-claro {
  color: $cor-cinza-claro;
  background-color: $cor-cinza-claro;
}
.cinza-escuro {
  color: $cor-cinza-escuro;
}

.fw-bold{
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    font-size: 2.5rem;
  }
}

.paragrafo{
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2rem;
  }
}
