<div class="container-fluid vw-100 vh-auto">
  <div class="row h-50 mt-3 d-flex flex-column gap-3">
    <div class="col-12 w-auto align-self-center">
      <img src="assets/navigation/Logo-grande.svg" alt="Save Money">
    </div>
    <div class="row h-25">
      <form>
        <div class="col-12 mb-3">
          <input type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="col-12 mb-3">
          <input type="password" class="form-control" placeholder="Senha">
        </div>
        <p class="col-12 text-end recuperar-senha"><a class="text-decoration-none azul-claro" href="">Esqueci minha senha</a></p>
      </form>
    </div>
    <div class="row h-auto">
      <div class="col-12">
        <button type="button" class="btn btn-azul-escuro">Entrar</button>
      </div>
    </div>
    <div class="row h-auto">
      <div class="col-12">
        <p class="text-center azul-claro">Não possui uma conta? <a class="text-decoration-none azul-escuro fw-bold" href="">Registre-se!</a></p>
      </div>
    </div>
  </div>
</div>
