<div class="container-fluid vh-100">
  <div class="row h-50 mt-3">
    <div class="col-12 d-flex justify-content-center">
      <img src="assets/navigation/online-payment-1.svg" alt="Online Payment">
    </div>
  </div>
  <div class="row h-25">
    <div class="col-12 px-5 py-4 d-flex flex-column justify-content-center cinza-escuro text-lg-center">
      <h1 class="fw-bold titulo">Ingresso digital na palma da sua mão</h1>
      <p class="paragrafo m-0">Papel é coisa do passado. Seu celular vai ser o seu passe de entrada para os próximos eventos.</p>
    </div>
  </div>
  <div class="row h-25 align-items-center px-5 my-0">
    <div class="col-6 p-0">
      <ul class="pagination gap-2 justify-content-lg-center">
        <li class="page-item" aria-current="page">
          <span class="page-link rounded-circle p-1 btn-cinza-claro"></span>
        </li>
        <li class="page-item active"><a class="page-link rounded-circle p-1" href="#"></a></li>
      </ul>
    </div>
    <div class="col-6 d-flex justify-content-end p-0 justify-content-lg-center">
      <ul class="pagination gap-2">
        <li class="page-item">
          <a class="btn btn-link text-reset p-0" routerLink="/passo1"><img src="assets/navigation/Left-arror-button.svg" alt="Seta para esquerda"></a>
        </li>
        <li class="page-item">
          <a class="btn btn-link text-reset p-0" routerLink="/login"><img src="assets/navigation/Right-arror-button.svg" alt="Seta para direita"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
